# 05 Data Hypothesis

Importing Libraries.

In [29]:
import pandas as pd
import numpy as np
import scipy.stats as stats

Reading file.

In [3]:
data = pd.read_csv('../01_data/clean_data.csv').iloc[:,1:]

In [4]:
pd.set_option('display.max_columns', None)
data.head()

,subject_id,birth_year,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,nut_start,nut_end,nut_c_s,nut_c_e,allerg_c_s,allerg_c_e,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx
0,1,2006,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
data.groupby('allerg_c_s').agg({'subject_id':'count'})#.iloc[1:,:]

            subject_id
allerg_c_s
0               310565
1                15183
2                 4132
3                 1757
4                  860
5                  410
6                  172
7                   44
8                   31
9                    9
10                   7
11                   4
13                   1

### Number of allergies is significantly different from 1 in subjects with at least 1 allergy.

In [37]:
hyp_pool_1 = data[ data['allerg_c_s'] >= 1 ]['allerg_c_s']
hyp_pool_1

2         1
8         1
58        1
60        1
65        1
         ..
333126    1
333127    2
333128    5
333150    1
333158    1
Name: allerg_c_s, Length: 22610, dtype: int64

In [36]:
stats.ttest_1samp(hyp_pool_1, popmean = 1, alternative = "two-sided")

TtestResult(statistic=82.098163952228, pvalue=0.0, df=22609)

It is significantly different.

### Follow-up is in average superior to 5 years?

In [38]:
data.head()

,subject_id,birth_year,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,nut_start,nut_end,nut_c_s,nut_c_e,allerg_c_s,allerg_c_e,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx
0,1,2006,0.093087,3.164956,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,1994,12.232717,18.880219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,12.262834,18.880219,2.0
2,3,2006,0.010951,6.726899,NaN,NaN,NaN,NaN,1.002053,1.002053,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,4.884326,NaN,3.917864,6.157426,5.127995,NaN,1.404517,6.157426,4.0
3,4,2004,2.398357,9.111567,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,2006,0.013689,6.193018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
data['follow_up']=data['age_end_years']-data['age_start_years']
data.describe()

,subject_id,birth_year,age_start_years,age_end_years,shellfish_start,shellfish_end,fish_start,fish_end,milk_start,milk_end,soy_start,soy_end,egg_start,egg_end,wheat_start,wheat_end,peanut_start,peanut_end,sesame_start,sesame_end,nut_start,nut_end,nut_c_s,nut_c_e,allerg_c_s,allerg_c_e,atopic_derm_start,atopic_derm_end,allergic_rhinitis_start,allergic_rhinitis_end,asthma_start,asthma_end,first_asthmarx,last_asthmarx,num_asthmarx,follow_up
count,333175.000000,333175.000000,333175.000000,333175.000000,5246.000000,1051.000000,1796.000000,527.000000,7289.000000,4580.000000,2419.000000,1431.000000,6064.000000,3293.000000,1145.000000,687.000000,8652.000000,2092.000000,766.000000,178.000000,1845.000000,471.000000,333175.000000,333175.000000,333175.000000,333175.000000,49510.000000,41727.000000,55565.000000,25326.000000,63868.000000,25463.000000,117540.000000,117540.000000,117540.000000,333175.000000
mean,166597.437302,2001.260872,3.942466,10.336952,8.724076,6.431159,6.628690,5.337775,3.296644,2.475121,3.960079,2.714106,3.290812,3.060378,4.548345,3.652843,5.027794,4.400450,6.135395,5.114259,10.346715,7.425197,0.007885,0.001849,0.108063,0.102027,4.291436,5.666013,7.279995,12.930347,5.980232,12.377673,6.439626,8.943775,5.298520,6.394486
std,96186.767275,6.603568,4.646190,5.623476,5.273093,4.475387,5.015358,4.190826,4.029439,3.106221,4.484231,3.301285,3.517762,3.027941,4.562716,3.801285,4.392894,3.825992,4.172892,3.862956,10.132120,6.773069,0.125245,0.057430,0.490190,0.464891,4.592371,5.016552,4.134742,4.292382,4.390803,4.895017,4.863585,5.284211,6.486858,3.391938
min,1.000000,1983.000000,0.000000,1.002053,0.093087,0.169747,0.076660,0.076660,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.156057,0.243669,0.000000,0.021903,0.487337,0.487337,0.112252,0.112252,0.000000,0.000000,0.000000,0.000000,0.000000,0.013689,0.000000,2.488706,1.002053,3.003422,1.002053,1.002053,1.000000,1.002053
25%,83296.500000,1996.000000,0.021903,5.289528,3.975359,2.620123,2.235455,1.934292,0.747433,0.561259,0.809035,0.655715,1.051335,1.062286,1.078713,1.002053,1.574264,1.516085,2.765914,2.033539,3.939767,2.873374,0.000000,0.000000,0.000000,0.000000,0.654346,1.448323,3.912389,9.591376,2.165640,8.139630,2.105407,4.298426,1.000000,3.427789
50%,166596.000000,2002.000000,1.765914,10.193018,8.361396,5.305955,5.156742,3.939767,1.420945,1.200548,1.850787,1.264887,1.754962,1.785079,2.543463,1.867214,3.326489,2.980151,5.026694,4.015058,7.770021,5.429158,0.000000,0.000000,0.000000,0.000000,2.255989,4.112252,6.721424,13.199179,4.810404,12.539357,5.023956,8.271047,3.000000,6.157426
75%,249897.500000,2007.000000,7.208761,15.616701,13.078029,9.609856,10.251198,7.885010,4.295688,2.997947,5.761807,3.401780,4.090349,4.002738,6.743326,5.266256,7.241615,6.268994,8.802190,7.037645,13.300479,10.242300,0.000000,0.000000,0.000000,0.000000,6.811773,8.929500,10.220397,16.579740,9.095140,16.843258,10.012320,13.341547,7.000000,9.212868
max,333200.000000,2012.000000,17.984942,18.997947,24.298426,18.778919,22.499658,18.962355,25.431896,17.911020,24.216290,24.216290,22.160164,19.151266,22.839151,18.546201,21.524983,21.524983,22.721424,17.215606,106.529774,46.642026,7.000000,6.000000,13.000000,13.000000,23.342916,24.626968,23.649555,28.616016,23.649555,28.522930,18.997947,18.997947,118.000000,12.982888

In [49]:
stats.ttest_1samp(data['follow_up'], popmean = 5, alternative = "less")

TtestResult(statistic=237.3026348168589, pvalue=1.0, df=333174)

In average, follow-up is superior to 5 years.

### Is the number of allergies at the start of the follow-up similar to the number at the end?

In [50]:
stats.ttest_ind(data['allerg_c_s'], data['allerg_c_e'])

Ttest_indResult(statistic=5.157011693254254, pvalue=2.5099366647501376e-07)

Null hypothesis is rejected, samples have different means,as such, mean number of allergies at the start is not similar to the mean number at the end. (Confidence Interval = 99% (p-value < 0.01 ))